<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
</head>
<body>
<div layout:fragment="conteudo">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Lista de Produtos</h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${produtos.empty}">
                        <td colspan="4">Lista de produtos vazia</td>
                    </tr>
                    <tr th:each="produto : ${produtos}" >
                        <td><span th:text="${produto.nome}"> Nome </span></td>
                        <td><span th:text="${produto.descricao}"> Descrição </span></td>
                        <td><span th:text="${produto.categoria.nome}"> Categoria </span></td>
                        <td><span th:text="${produto.valor}"> Valor </span></td>
                        <td>
                            <form th:action="@{/produtos/{id}(id=${produto.id})}" th:object="${produto}" method="post">
                                <input type="hidden" name="_method" value="delete">

                                <input class="btn btn-danger btn-xs" type="submit" value="Excluir"
                                th:data-confirm-delete="|Deseja excluir ${produto.nome}?|"
                                onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/produtos/{id}(id=${produto.id})}" th:object="${produto}" method="get">
                                <input class="btn btn-primary btn-xs" type="submit" value="Editar">
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>