<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">

<head>
    <title>Cadastro de Produto</title>
</head>

<body>
<div layout:fragment="conteudo">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Cadastro de Produtos</h2>
                <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <!-- se exite a mensagem, vai mostrar aqui -->
                    <span th:text="${mensagem}"></span>
                </div>
                <form action="#" th:action="@{/produtos}" th:object="${produto}" method="post">
                    <div class="row mb-3">
                        <label for="nome" class="col-sm-1 col-form-label">Nome:</label>
                        <div class="col-sm-5">
                            <input id="nome" class="form-control" type="text" th:field="*{nome}" />
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="descricao" class="col-sm-1 col-form-label">Descrição:</label>
                        <div class="col-sm-3">
                            <input id="descricao" class="form-control" type="text" th:field="*{descricao}">
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="row mb-3">
                            <label class="col-sm-1 col-form-label">Categoria:</label>
                            <div class="col-sm-3">
                                <select class="chosen-select form-control" data-placehold="categoria" id="categoria"
                                        name="categoria" th:field="*{categoria}">
                                    <option th:each="categoria : ${categorias}"
                                            th:text="${categoria.nome}"
                                            th:value="${categoria.id}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-5">
                                <span class="mensagem" th:errors="*{categoria}"
                                      th:if="${#fields.hasErrors('categoria')}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="valor" class="col-sm-1 col-form-label">Valor:</label>
                        <div class="col-sm-2">
                            <input id="valor" class="form-control" type="text" th:field="*{valor}">
                        </div>
                        <div class="col-sm-5">
								<span class="mensagem" th:if="${#fields.hasErrors('valor')}"
                                      th:errors="*{valor}"></span>
                        </div>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Salvar" />
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>


